@import "../../styles/mixins";

.page-contaienr,
.carousel_ {
  padding-top: 60px;
}

.root::v-deep {
  li.dot {
    box-shadow: none;
    background: #ccc;
  }
}

.carousel-content {
  height: 100%;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.title {
  text-align: center;
  font-size: 18px;
  margin: auto auto;
  font-weight: 500;
  margin-left: 24px;
}

.description {
  padding: 20px;
  line-height: 1.6;
  padding-bottom: 100px;
}
