@import "../../styles/mixins";

.detail-page-contaienr,
.carousel_ {
  padding-top: 60px;
}

.detail-page-container {
  display: block;
  height: 100%;
  background-color: #fff;
  width: 100%;
  max-width: 742px;
  margin: auto;
}

.root::v-deep {
  li.dot {
    box-shadow: none;
    background: #ccc;
  }
}

.carousel-content {
  height: 100%;
  img {
    object-fit: cover;
    height: 100%;
  }
}

.title-container {
  margin: 0 24px;
}

.title {
  font-style: italic;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  text-indent: 0%;
}

.description {
  padding: 20px;
  line-height: 1.6;
  padding-bottom: 100px;
}
