.switch {
  position: fixed;
  z-index: 300;
  right: 50%;
  transform: translateX(50%);
  bottom: 3%;
  width: 140px;
  height: 60px;
  background-color: #fff;
  opacity: 0.85;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
