.switch {
  position: fixed;
  z-index: 300;
  right: 50%;
  transform: translateX(50%);
  bottom: 3%;
  width: 200px;
  height: 52px;
  background-color: #fbf0e8;
  opacity: 0.6;
  border-radius: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px;

  img {
    width: 28px;
    height: 28px;
  }
}
